[Unit]
Description=MQTT Receive Daemon
After=network.target

[Service]
User=your_username
WorkingDirectory=/path/to/your/mqtt-receive/script/directory
ExecStart=/path/to/your/virtual/environment/bin/python /path/to/your/mqtt-receive/script.py
Restart=always

[Install]
WantedBy=multi-user.target
